footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 30px 0px;

    .inner {
        width: 90%;
        margin: 0 auto;

        p {
            font: 300 14px/1 "Chakra Petch";
            color: #888;
            text-align: center;
        }
    }
}