header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 0 0;
    z-index: 1;

    .inner {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        h1 {
            font: 600 26px/1 "Merriweather Sans";
            color: #fff;
            letter-spacing: 1px;
            cursor: pointer;
        }

        a {
            font: 300 16px/26px "Chakra Petch";
            color: #888;
            transition: .3s;

            &:hover {
                color: #66806A;
                transform: translate(-2px, -2px);
            }
        }
    }
}