main {
    width: 100%;

    .inner {
        width: calc(100% - 80px);
        height: 100%;
        margin: 0 auto;
        position: relative;

        .createBtn {
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
            padding: 7px 10px;
            border: 1px solid #888;
            background: transparent;
            font: 400 20px/1 'Chakra Petch';
            color: #888;
            transition: .3s;
            cursor: pointer;

            &:hover {
                color: #fff;
                border: 1px solid #fff;
            }
        }

        .container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 100px 0 80px;

            article {
                width: 300px;
                height: 300px;
                position: relative;

                .wrap {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;
                    transition: .5s;
                    cursor: pointer;

                    .pic {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            opacity: 0.6;
                            transition: .5s;
                        }
                    }

                    .txt {
                        position: absolute;
                        left: 40px;
                        bottom: 40px;
                        opacity: 1;
                        transition: .5s;

                        h2 {
                            font: 500 20px/1.2 "Chakra Petch";
                            color: #fff;
                        }

                        h3 {
                            font: 400 16px/1.2 "Chakra Petch";
                            color: #fff;
                        }

                        p {
                            font: 300 14px/1 "Chakra Petch";
                            color: rgba(255,255,255,0.8);
                        }
                    }
                }

                .enableBtns {
                    position: absolute;
                    left: 5px;
                    bottom: 5px;

                    li {
                        display: inline-block;
                        font: 300 12px/1 "Chakra Petch";
                        color: #fff;
                        transition: .3s;
                        margin-right: 5px;
                        opacity: 0;
                        cursor: pointer;
                    }
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    opacity: 0;
                    border-top: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    border-left: 25px solid #fff;
                    transform: translateY(-200px);
                    transition: .3s;
                }

                &.play {
                    &::after {
                        width: 8px;
                        height: 30px;
                        opacity: 1;
                        border-top: 0px solid transparent;
                        border-right: 5px solid #fff;
                        border-bottom: 0px solid transparent;
                        border-left: 5px solid #fff;
                        transform: translate(-50%,-50%);
                    }
                }

                &:hover {
                    &::after {
                        opacity: 1;
                        transform: translate(-25%,-25%);
                    }

                    .enableBtns {
                        li {
                            opacity: 1;

                            &:hover {
                                color: #66806A;
                            }
                        }
                    }
                }

                &:nth-of-type(1) .wrap, &:nth-of-type(6) .wrap{
                    border-radius: 120px 0px 120px 0px;
                }
                &:nth-of-type(7) .wrap, &:nth-of-type(12) .wrap{
                    border-radius: 0px 120px 0px 120px;
                }
                &.play .wrap, &:hover .wrap{
                    border-radius: 50%;

                    .pic img { opacity: 1; }
                    .txt { 
                        transform: translateY(100px);
                        opacity: 0;
                    }

                    .txt.editTxt {
                        transform: translate(0px);
                        opacity: 1;
                    }
                }
                &.play .wrap {
                    animation: circle 10s linear forwards;
                }
            }
        }
    }

    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 300px;
        background: #fff;
        border-radius: 8px;
        z-index: 11;
        
        .inner {
            width: 100%;
            height: 100%;
            padding: 30px;

            input {
                width: 100%;
                padding: 5px 10px;
                margin-bottom: 14px;
                font: 300 14px/1 'Chakra Petch';
                color: #050505;
            }
            
            .btns {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                li {
                    width: 100px;
                    padding: 8px 10px;
                    border: 1px solid #888;
                    text-align: center;
                    font: 300 14px/1 'Chakra Petch';
                    color: #888;
                    cursor: pointer;
                    transition: .3s;

                    &:hover {
                        background-color: #66806A;
                        color: #fff;
                        border: 1px solid #66806A;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    main {
        .inner {
            .container {
                article {
                    width: 220px;
                    height: 220px;

                    .wrap {
                        .txt {
                            width: 170px;
                            left: 20px;
                            bottom: 30px;
                        }
                    }

                    &::after {
                        transform: translateY(-100px);
                    }
    
                    &:nth-of-type(1) .wrap, &:nth-of-type(6) .wrap{
                        border-radius: 80px 0px 80px 0px;
                    }
                    &:nth-of-type(7) .wrap, &:nth-of-type(12) .wrap{
                        border-radius: 0px 80px 0px 80px;
                    }
                }
            }
        }
    }
}

@keyframes circle {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}