header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 0 0;
    z-index: 10;
    background-color: #050505;

    .inner {
        width: 1180px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        h1 {
            cursor: pointer;
            >a {
                font: 600 26px/1 "Merriweather Sans";
                color: #fff;
                letter-spacing: 1px;
            }
        }

        a {
            display: block;
            font: 400 18px/26px "Chakra Petch";
            color: #888;
            transition: .3s;
            cursor: pointer;

            &:hover {
                color: #fff
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    header {
        .inner {
            width: calc(100% - 80px);
        }
    }
}