header {
    position: fixed;
    top: 2vw;
    left: 10vw;
    width: fit-content;
    z-index: 10;
    background-color: #050505;

    .inner {
        display: flex;
        justify-content: space-between;

        h1 {
            cursor: pointer;
            >a {
                font: 600 26px/1 "Merriweather Sans";
                color: #fff;
                letter-spacing: 1px;
            }
        }

        a {
            display: block;
            font: 400 18px/26px "Chakra Petch";
            color: #888;
            transition: .3s;
            cursor: pointer;

            &:hover {
                color: #fff
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    header {
        .inner {
            width: calc(100% - 80px);
        }
    }
}