@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #050505; }

header {
  width: 100%;
  padding: 50px 0 0; }
  header .inner {
    width: calc(100% - 80px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    header .inner h1 {
      font: 600 26px/1 "Merriweather Sans";
      color: #fff;
      letter-spacing: 1px;
      cursor: pointer; }
    header .inner a {
      font: 300 16px/26px "Chakra Petch";
      color: #888;
      transition: .3s; }
      header .inner a:hover {
        color: #66806A;
        transform: translate(-2px, -2px); }

footer {
  width: 100%;
  padding: 30px 0px; }
  footer .inner {
    width: calc(100% - 80px);
    margin: 0 auto; }
    footer .inner p {
      font: 300 14px/1 "Chakra Petch";
      color: #888;
      text-align: center; }

main {
  width: 100%; }
  main .inner {
    width: calc(100% - 80px);
    height: 100%;
    margin: 0 auto;
    position: relative; }
    main .inner .createBtn {
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      padding: 7px 10px;
      border: 1px solid #888;
      background: transparent;
      font: 400 20px/1 'Chakra Petch';
      color: #888;
      transition: .3s;
      cursor: pointer; }
      main .inner .createBtn:hover {
        color: #fff;
        border: 1px solid #fff; }
    main .inner .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 100px 0 80px; }
      main .inner .container article {
        width: 300px;
        height: 300px;
        position: relative; }
        main .inner .container article .wrap {
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden;
          transition: .5s;
          cursor: pointer; }
          main .inner .container article .wrap .pic {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%; }
            main .inner .container article .wrap .pic img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              opacity: 0.6;
              transition: .5s; }
          main .inner .container article .wrap .txt {
            position: absolute;
            left: 40px;
            bottom: 40px;
            opacity: 1;
            transition: .5s; }
            main .inner .container article .wrap .txt h2 {
              font: 500 20px/1.2 "Chakra Petch";
              color: #fff; }
            main .inner .container article .wrap .txt h3 {
              font: 400 16px/1.2 "Chakra Petch";
              color: #fff; }
            main .inner .container article .wrap .txt p {
              font: 300 14px/1 "Chakra Petch";
              color: rgba(255, 255, 255, 0.8); }
            main .inner .container article .wrap .txt.editTxt {
              left: 50px; }
        main .inner .container article .enableBtns {
          position: absolute;
          left: 5px;
          bottom: 5px; }
          main .inner .container article .enableBtns li {
            display: inline-block;
            font: 300 12px/1 "Chakra Petch";
            color: #fff;
            transition: .3s;
            margin-right: 5px;
            opacity: 0;
            cursor: pointer; }
        main .inner .container article::after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          opacity: 0;
          border-top: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 25px solid #fff;
          transform: translateY(-200px);
          transition: .3s; }
        main .inner .container article.play::after {
          width: 8px;
          height: 30px;
          opacity: 1;
          border-top: 0px solid transparent;
          border-right: 5px solid #fff;
          border-bottom: 0px solid transparent;
          border-left: 5px solid #fff;
          transform: translate(-50%, -50%); }
        main .inner .container article:hover::after {
          opacity: 1;
          transform: translate(-25%, -25%); }
        main .inner .container article:hover .enableBtns li {
          opacity: 1; }
          main .inner .container article:hover .enableBtns li:hover {
            color: #66806A; }
        main .inner .container article:nth-of-type(1) .wrap, main .inner .container article:nth-of-type(6) .wrap {
          border-radius: 120px 0px 120px 0px; }
        main .inner .container article:nth-of-type(7) .wrap, main .inner .container article:nth-of-type(12) .wrap {
          border-radius: 0px 120px 0px 120px; }
        main .inner .container article.play .wrap, main .inner .container article:hover .wrap {
          border-radius: 50%; }
          main .inner .container article.play .wrap .pic img, main .inner .container article:hover .wrap .pic img {
            opacity: 1; }
          main .inner .container article.play .wrap .txt, main .inner .container article:hover .wrap .txt {
            transform: translateY(100px);
            opacity: 0; }
          main .inner .container article.play .wrap .txt.editTxt, main .inner .container article:hover .wrap .txt.editTxt {
            transform: translate(0px);
            opacity: 1; }
        main .inner .container article.play .wrap {
          animation: circle 10s linear forwards; }
  main .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: #fff;
    border-radius: 8px;
    z-index: 11; }
    main .popup .inner {
      width: 100%;
      height: 100%;
      padding: 30px; }
      main .popup .inner input {
        width: 100%;
        padding: 5px 10px;
        margin-bottom: 14px;
        font: 300 14px/1 'Chakra Petch';
        color: #050505; }
      main .popup .inner .btns {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; }
        main .popup .inner .btns li {
          width: 100px;
          padding: 8px 10px;
          border: 1px solid #888;
          text-align: center;
          font: 300 14px/1 'Chakra Petch';
          color: #888;
          cursor: pointer;
          transition: .3s; }
          main .popup .inner .btns li:hover {
            background-color: #66806A;
            color: #fff;
            border: 1px solid #66806A; }

@media screen and (max-width: 400px) {
  main .inner .container article {
    width: 220px;
    height: 220px; }
    main .inner .container article .wrap .txt {
      width: 170px;
      left: 20px;
      bottom: 30px; }
    main .inner .container article::after {
      transform: translateY(-100px); }
    main .inner .container article:nth-of-type(1) .wrap, main .inner .container article:nth-of-type(6) .wrap {
      border-radius: 80px 0px 80px 0px; }
    main .inner .container article:nth-of-type(7) .wrap, main .inner .container article:nth-of-type(12) .wrap {
      border-radius: 0px 80px 0px 80px; } }
@keyframes circle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
