@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #050505; }

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 0 0;
  z-index: 1; }
  header .inner {
    width: calc(100% - 80px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    header .inner h1 {
      font: 600 26px/1 "Merriweather Sans";
      color: #fff;
      letter-spacing: 1px;
      cursor: pointer; }
    header .inner a {
      font: 300 16px/26px "Chakra Petch";
      color: #888;
      transition: .3s; }
      header .inner a:hover {
        color: #66806A;
        transform: translate(-2px, -2px); }

footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 30px 0px; }
  footer .inner {
    width: calc(100% - 80px);
    margin: 0 auto; }
    footer .inner p {
      font: 300 14px/1 "Chakra Petch";
      color: #888;
      text-align: center; }

main {
  width: 100%; }
  main .inner {
    width: calc(100% - 80px);
    height: 100%;
    margin: 0 auto;
    position: relative; }
    main .inner .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 150px 0; }
      main .inner .container article {
        width: 300px;
        height: 300px;
        position: relative;
        cursor: pointer; }
        main .inner .container article .wrap {
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden;
          transition: .5s; }
          main .inner .container article .wrap .pic {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%; }
            main .inner .container article .wrap .pic img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              opacity: 0.6;
              transition: .5s; }
          main .inner .container article .wrap .txt {
            position: absolute;
            left: 40px;
            bottom: 40px;
            opacity: 1;
            transition: .5s; }
            main .inner .container article .wrap .txt h2 {
              font: 500 20px/1.2 "Chakra Petch";
              color: #fff; }
            main .inner .container article .wrap .txt h3 {
              font: 400 16px/1.2 "Chakra Petch";
              color: #fff; }
            main .inner .container article .wrap .txt p {
              font: 300 14px/1 "Chakra Petch";
              color: rgba(255, 255, 255, 0.8); }
        main .inner .container article::after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          opacity: 0;
          border-top: 20px solid transparent;
          border-right: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 25px solid #fff;
          transform: translateY(-200px);
          transition: .3s; }
        main .inner .container article.play::after {
          width: 8px;
          height: 30px;
          opacity: 1;
          border-top: 0px solid transparent;
          border-right: 5px solid #fff;
          border-bottom: 0px solid transparent;
          border-left: 5px solid #fff;
          transform: translate(-50%, -50%); }
        main .inner .container article:hover::after {
          opacity: 1;
          transform: translate(-25%, -25%); }
        main .inner .container article:nth-of-type(1) .wrap, main .inner .container article:nth-of-type(6) .wrap {
          border-radius: 120px 0px 120px 0px; }
        main .inner .container article:nth-of-type(7) .wrap, main .inner .container article:nth-of-type(12) .wrap {
          border-radius: 0px 120px 0px 120px; }
        main .inner .container article.play .wrap, main .inner .container article:hover .wrap {
          border-radius: 50%; }
          main .inner .container article.play .wrap .pic img, main .inner .container article:hover .wrap .pic img {
            opacity: 1; }
          main .inner .container article.play .wrap .txt, main .inner .container article:hover .wrap .txt {
            transform: translateY(100px);
            opacity: 0; }
        main .inner .container article.play .wrap {
          animation: circle 10s linear forwards; }

@keyframes circle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
