@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #050505; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px 0 0; }
  header .inner {
    width: calc(100% - 80px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    header .inner h1 {
      font: 600 26px/1 "Merriweather Sans";
      color: #fff;
      letter-spacing: 1px;
      cursor: pointer; }
    header .inner a {
      font: 300 16px/26px "Chakra Petch";
      color: #888;
      transition: .3s; }
      header .inner a:hover {
        color: #66806A;
        transform: translate(-2px, -2px); }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 0px; }
  footer .inner {
    width: calc(100% - 80px);
    margin: 0 auto; }
    footer .inner p {
      font: 300 14px/1 "Chakra Petch";
      color: #888;
      text-align: center; }

main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  main .panel {
    width: 300px;
    height: 500px;
    position: absolute;
    top: 150%;
    left: 50%;
    margin-top: -220px;
    margin-left: -160px;
    transition: 1s; }
    main .panel article {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: .3s; }
      main .panel article .wrap {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 20px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        padding: 35px;
        transition: .3s; }
        main .panel article .wrap .pic {
          width: 230px;
          height: 230px;
          border-radius: 50%;
          background: royalblue;
          background-repeat: no-repeat;
          background-position: 200%;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 40px; }
          main .panel article .wrap .pic::before, main .panel article .wrap .pic::after {
            content: '';
            display: block;
            width: inherit;
            height: inherit;
            border-radius: inherit;
            position: absolute;
            top: 0px;
            left: 0px;
            background-image: inherit;
            background-repeat: inherit;
            background-position: center;
            background-size: cover; }
          main .panel article .wrap .pic::before {
            transform: translateY(10%);
            filter: blur(20px) brightness(1.6); }
          main .panel article .wrap .pic .dot {
            width: 3vw;
            height: 3vw;
            border-radius: 50%;
            background-color: #fff;
            position: relative;
            z-index: 3;
            box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1); }
        main .panel article .wrap .txt {
          width: 100%;
          margin-bottom: 30px;
          text-align: center; }
          main .panel article .wrap .txt h2 {
            font: 400 24px/1 "Merriweather Sans";
            color: #050505; }
          main .panel article .wrap .txt h3 {
            font: 400 18px/1 "Merriweather Sans";
            color: #050505;
            margin: 10px 0; }
          main .panel article .wrap .txt p {
            font: 300 14px/1 "Merriweather Sans";
            color: #888; }
        main .panel article .wrap .playBtn {
          width: 45px;
          height: 45px;
          border: 1px solid #050505;
          background-color: transparent;
          border-radius: 50%;
          cursor: pointer;
          position: relative; }
          main .panel article .wrap .playBtn i {
            position: absolute;
            top: 50%;
            left: 53%;
            transform: translate(-50%, -50%);
            font-size: 30px;
            color: #050505;
            transition: .1s; }
            main .panel article .wrap .playBtn i.la-pause {
              opacity: 0; }
          main .panel article .wrap .playBtn.play i.la-play {
            opacity: 0; }
          main .panel article .wrap .playBtn.play i.la-pause {
            opacity: 1;
            left: 53%; }
      main .panel article.play .wrap {
        background-color: #fff; }
        main .panel article.play .wrap .pic {
          animation: circle 10s linear infinite; }

@keyframes circle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.btnPrev {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-270px, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .btnPrev span {
    font: 11px/1 'arial';
    color: #fff;
    transform: translateX(30%);
    transition: 0.5s; }
  .btnPrev::before, .btnPrev::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0px;
    transform-origin: left center;
    transition: 0.5s; }
  .btnPrev::before {
    transform: rotate(-180deg); }
  .btnPrev::after {
    transform: rotate(180deg); }
  .btnPrev:hover span {
    opacity: 0;
    transform: translate(100%); }
  .btnPrev:hover::before {
    transform: rotate(-30deg); }
  .btnPrev:hover::after {
    transform: rotate(30deg); }

.btnNext {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(250px, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .btnNext span {
    font: 11px/1 'arial';
    color: #fff;
    transform: translateX(-30%);
    transition: 0.5s; }
  .btnNext::before, .btnNext::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0px;
    transform-origin: right center;
    transition: 0.5s; }
  .btnNext::before {
    transform: rotate(180deg); }
  .btnNext::after {
    transform: rotate(-180deg); }
  .btnNext:hover span {
    opacity: 0;
    transform: translate(-100%); }
  .btnNext:hover::before {
    transform: rotate(30deg); }
  .btnNext:hover::after {
    transform: rotate(-30deg); }

/*# sourceMappingURL=style.css.map */
